/.venv
/.vscode
/cangre.html
/cangre1.zip
/citas.db
/clinica.py
/computo2_py
/condicionales
/escripts.js
/estilos.css
/estpa.css
/lab1.progra.docx
/lab2.html
/pag.html
/prac1.html
/practica3re.pkt
/proyecto1
/prueba.html
/prueba.py
/reportes
/requirements.txt
/semana3.html