body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
   
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.productos2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}
.producto img {
    width: 100%;
    border-radius: 10px;
}
.boton-comprar {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .center-text h1 {
        font-size: 1.4em;
    }

    .right-text a {
        font-size: 1em;
    }

    
}
